<footer class="modal-footer text-white">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <h5>About this site:</h5>
        <p>
          This site serves two purposes: a place for an interested party to get information, and a place where Curtis LayCraft can learn/experiment with new technologies if he decides.
        </p>
        <p>
          This is a node.js web application built in Angular and The UI is built with Bootstrap. It is being versioned through Github, and automatically deployed through a Heroku pipeline.
        </p>
      </div>
      <div class="col-12 col-md-6">
        <h5>The future:</h5>
        <ul>
          <li><a href="https://laycrafttest.herokuapp.com">laycrafttest.herokuapp.com</a></li>
        </ul>
      </div>
      <div class="col-12">
        <p style="text-align: center;">
          <a href="mailto:curtis.laycraft@zoho.com">Curtis.LayCraft@zoho.com</a>
        </p>
      </div>
    </div>
  </div>
</footer>
