<!-- <pre>{{ jobs | json }}</pre> -->
<!-- <pre>{{ keys | json }}</pre> -->
<span *ngFor="let job of jobs; let i = index">
  <h5>{{ job.companyName }}</h5>
  <h6>
    {{ job.positionName }} ({{ job.startDate
    }}<span *ngIf="job.endDate != job.startDate"> - {{ job.endDate }}</span
    >)
  </h6>
  {{ job.shortDescription }}<br />
  {{ job.longDescription }}<br />

  <!-- Details<br /> -->
  <ul>
    <li *ngFor="let entry of job.bonus">{{ entry }}</li>
  </ul>

  <div *ngIf="job.technology">
    <small> Technologies </small><br />
    <span
      *ngFor="let entry of job.technology"
      class="badge badge-pill badge-info mr-2"
      >{{ entry }}</span
    >
  </div>
  <div *ngIf="job.methodology">
    <small> Methodologies </small><br />
    <span
      *ngFor="let entry of job.methodology"
      class="badge badge-pill badge-info mr-2"
      >{{ entry }}</span
    >
  </div>
  <div *ngIf="job.software">
    <small>
      Software
    </small>
    <br />
    <span
      *ngFor="let entry of job.software"
      class="badge badge-pill badge-info mr-2"
      >{{ entry }}</span
    >
  </div>
  <hr />
</span>
