<div class="form-group">
  <label for="keywordInput">Keywords</label>
  <input type="text" class="form-control" id="keywordInput" aria-describedby="keywordHelp" placeholder="devops, database, etc…">
  <small id="keywordHelp" class="form-text text-muted">Enter keywords here to change résumé content.</small>
</div>

<h1 class="display-3">Résumé</h1>
<p>
I love to solve new problems and my work history reflects that. As a co-op I worked with the BC government and I supported the project team by using my resourcefulness to make problems go away. I started a graphic design company and took jobs doing just about any little thing. My friends opened a board game café so I did a lot of startup tasks including teaching board games, fixing things, making customers feel welcome, and setting up POS systems. The Salvation Army gave me responsibilities like organizing people and reworking communications. I love solving puzzles and problems.
</p>
<p>
This brings me to the ultimate career where I can put all of my skills to use: software development.
</p>

<div class="card">
	<div class="card-body">
		<h2>Objective</h2>
		<hr>
		<p>To find and join a great team. To build software development skills.</p>
	</div>
</div>
<div class="card mt-2">
	<div class="card-body">
		<h2>Highlights</h2>
		<hr>
		<ul>
			<li>Versatile skills through a broad range of experience</li>
			<li>Dedication to high achievement as shown by consistent honour roll and co-op experience</li>
			<li>Loves methodological problem solving</li>
		</ul>
	</div>
</div>
<div class="card mt-2">
	<div class="card-body">
		<h2>Education</h2>
		<hr>
		<app-education-list></app-education-list>
	</div>
</div>
<div class="card mt-2">
	<div class="card-body">
		<h2>Work Experience</h2>
		<hr>
		<app-job-list></app-job-list>
	</div>
</div>