{{title}}
<h1>Curtis LayCraft</h1>
<p>This is a playground right now. Eventually I hope that it becomes a replacement for the Heroku app. There is a lot of work to do here because I am going to learn some manual style techniques instead of going straight for Bootstrap.</p>
<ul>
  <li><a href="tel:+12508915376">+1-250-891-5376</a></li>
  <li><a href="https://laycraft.herokuapp.com">laycraft.herokuapp.com</a></li>
  <li><a href="mailto:Curtis.LayCraft@Zoho.com">Curtis.LayCraft@zoho.com</a></li>
</ul>

<hr>
<p>I would like to get this content on this page so that I can use it. It is still messy with old bootstrap tags from the other repo.</p>
<div class="col-12 col-md-8">
  <span class="align-middle">
    <h1 class="display-3">Résumé</h1>
    <p>
      I love to solve new problems and my work history reflects that. As a co-op I worked with the BC government and I supported the project team by using my resourcefulness to make problems go away. I started a graphic design company and took jobs doing just about any little thing. My friends opened a board game café so I did a lot of startup tasks including teaching board games, fixing things, making customers feel welcome, and setting up POS systems. The Salvation Army gave me responsibilities like organizing people and reworking communications. I love solving puzzles and problems.
    </p>
    <p>
      This brings me to the ultimate career where I can put all of my skills to use: software development.
    </p>
  </span>
</div>

<div class="col-md-4 col-12">
  <div class="card">
    <div class="card-body">
      <h2>Objective</h2>
      <hr>
      <p>To find and join a great team. To build software development skills.</p>
    </div>
  </div>
</div>
<div class="col-md-8 col-12">
  <div class="card">
    <div class="card-body">
      <h2>Highlights</h2>
      <hr>
      <ul>
        <li>Versatile skills through a broad range of experience</li>
        <li>Dedication to high achievement as shown by consistent honour roll and co-op experience</li>
        <li>Loves methodological problem solving</li>
      </ul>
    </div>
  </div>
</div>

<h3>Under construction! Things below here are now components and classes have been made for each.</h3>
<app-education-list></app-education-list>
<app-job-list></app-job-list>