<app-top-nav-bar></app-top-nav-bar>

<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4">
        <img id="profile" class="rounded-circle" src="assets/img/profilePhoto.jpg" />
      </div>
      <div class="col">
        <h1 class="display-3">Curtis LayCraft</h1>
        <p class="lead">
          Curtis is currently looking for opportunities to use his
          analytical skills, applied communication skills, and technical
          prowess.
        </p>
        <hr class="my-4" />
        <p>
          Feel free to contact him; he is
          moderately friendly.
        </p>
        <p class="lead">
          <a href="mailto:curtis.laycraft@zoho.com?Subject=Hey%20Curtis!" class="custom-colour-button btn btn-primary btn-lg" role="button">Email Curtis</a>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <small>
        This is an Angular App automatically deployed from a repo to Github
        pages using Travis CI. It is an ongoing project.
        <a href="https://github.com/laycraft/portfolio/">
          Check out the source code.
        </a>
      </small>
      <hr />
      <app-resume-builder></app-resume-builder>
    </div>
  </div>
</div>
<app-footer></app-footer>
