<app-top-nav-bar></app-top-nav-bar>

<div class="jumbotron">
  <div class="row">
	<div class="col">
	  <h1 class="display-3">Curtis LayCraft</h1>
	  <p>Curtis is currently working on a manufacturing team at Schneider Electric in Victoria BC using his analytical skills, applied communication skills, and technical prowess.</p>
	</div>
  </div>
</div>
<div class='container'>
  <div class="row">
    <div class="col">
      {{title}}
      <p>This is a playground right now. Eventually I hope that it becomes a replacement for the Heroku app. There is a lot of work to do here because I am going to learn some manual style techniques instead of going straight for Bootstrap. Although this looks so terrible I'm going to go for a quick bootstrap job initially. It still looks bad but is better than nothing.</p>

      <app-resume-builder></app-resume-builder>
    </div>
  </div>
</div>