<span *ngFor="let school of EDUCATION">
  {{school.schoolName}}<br>
  {{school.programName}}<br>
  {{school.completionDate}}<br>
  {{school.programDescription}}<br>
  {{school.honours}}<br>
</span>
<div class="col-12">
    <div class="card">
      <div class="card-body">
        <h2>Education</h2>
        <hr>
        <h5 class="border-bottom-color">Camosun College</h5>
        <div class="row">
          <div class="col-3 col-md-2">
            <h6>2017</h6>
          </div>
          <div class="col-9 col-md-10">
            <h6>Computer Systems Technology Diploma</h6>
          </div>
        </div>
        <hr>
  
        <h5 class="border-bottom-color">Edmonton Digital Arts College</h5>
        <div class="row">
          <div class="col-3 col-md-2">
            <h6>2007</h6>
          </div>
          <div class="col-9 col-md-10">
            <h6>Digital Media Producer Diploma</h6>
          </div>
        </div>
        <hr>
  
        <h5 class="border-bottom-color">Lethbridge College</h5>
        <div class="row">
          <div class="col-3 col-md-2">
            <h6>2004</h6>
          </div>
          <div class="col-9 col-md-10">
            <h6>Business Administration Diploma  - Marketing Major</h6>
          </div>
        </div>
      </div>
    </div>
  </div>